@import 'tailwindcss';

@source '../../theme';
@source '../scripts';


:root {
  /* Colors */
  --background: #e8e2c7;
  --foreground: #d84830;
  --black-base: #322b29;

  /* Fonts */
  --font-ja: 'YuMincho', serif;
  --font-en: 'Cormorant Garamond', serif;

  /* Text sizes */
  --text-10: 0.625rem;
  --text-11: 0.6875rem;
  --text-12: 0.75rem;
  --text-13: 0.8125rem;
  --text-14: 0.875rem;
  --text-15: 0.9375rem;
  --text-16: 1rem;
  --text-17: 1.0625rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-22: 1.375rem;
  --text-24: 1.5rem;
  --text-26: 1.625rem;
  --text-28: 1.75rem;
  --text-30: 1.875rem;
  --text-32: 2rem;
  --text-36: 2.25rem;
  --text-40: 2.5rem;
  --text-44: 2.75rem;
  --text-48: 3rem;
  --text-52: 3.25rem;
  --text-56: 3.5rem;
  --text-60: 3.75rem;
  --text-64: 4rem;
  --text-76: 4.75rem;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-black-base: var(--black-base);
  --font-ja: var(--font-ja);
  --font-en: var(--font-en);
  --text-10: var(--text-10);
  --text-11: var(--text-11);
  --text-12: var(--text-12);
  --text-13: var(--text-13);
  --text-14: var(--text-14);
  --text-15: var(--text-15);
  --text-16: var(--text-16);
  --text-17: var(--text-17);
  --text-18: var(--text-18);
  --text-20: var(--text-20);
  --text-22: var(--text-22);
  --text-24: var(--text-24);
  --text-26: var(--text-26);
  --text-28: var(--text-28);
  --text-30: var(--text-30);
  --text-32: var(--text-32);
  --text-36: var(--text-36);
  --text-40: var(--text-40);
  --text-44: var(--text-44);
  --text-48: var(--text-48);
  --text-52: var(--text-52);
  --text-56: var(--text-56);
  --text-60: var(--text-60);
  --text-64: var(--text-64);
  --text-76: var(--text-76);


}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-ja);
  color: #2e3445;
  -webkit-font-smoothing: antialiased;
}
